*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*pageone*/

/*.grid-column-layoutone{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
*/

.box{
    padding: 2.65em;
    background-color: #9C6644;
}

.one{
    background-color: #9C6644;
    grid-row: 1/2;
    text-align: left;
    font-size: 26px;
    font-weight: 600;
}

.two{
    background-image: url("../img/bizhi.JPG");
    grid-row: 2/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.three{
    background-color: #9C6644;
    grid-row: 3/4;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav{
    text-align: center;
    padding: 0%;
}

li{
    display: inline-block;
    background-color: #DDB892;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
    position: relative;
    width: 100px;
    text-align: center;
}

li a {
    transition: all 2s;
    text-decoration: none;
    color:black;
    position: relative;
}

li:hover{
    background-color: #E6CCB2;
}

.introduction{
    border-radius: 10px;
    color: black;
    margin-top:20px;   
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 680px) {
    .introduction{
    border-radius: 10px;
    color: black;
    margin-top:30px;
    margin-left: 120px;
    margin-right: 120px;    
    padding: 50px;
    font-size: 25px;
    text-align: center;
    }

    .grid-column-layoutone{
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
    }
    
  }

/*pagetwo*/

.grid-column-layouttwo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 5.2fr;
}

.container{
    padding: 2.45rem;
}

.pgtwoone{
    background-color: #9C6644;
    grid-row: 1/2;
    text-align: left;
    grid-column: 1/2;
}

.pgtwofour{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #9C6644;
}

h1{
    font-size: 34px;
    font-weight: 600;
    margin-top: 50px;
}

h2{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

.pgtwonav{
    display: block;
    background-color: #DDB892;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.pagetwonavbar{
    display: flex;
    justify-content: flex-end;
}


.pgtwotwo{
    background-color: #DDB892;
    grid-row: 2/3;
    grid-column: 1/3;
}


.pagetwothree{
    background-color: #9C6644;
    grid-row: 3/4;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}

.breadtwo{
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.containers {
    display: flex;
    background-color:#DDB892;
    width: 100%;
    justify-content: space-around;
}
    
.itema {
    background-color: white;
    height: 200px;
    width: 50%;
    text-align: center;
    padding-top: 25px;
    margin: 1%;
}

.itemone{
    background-image: url("../img/breadtwo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemtwo{
    background-image: url("../img/butterbread.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemthree{
    background-image: url("../img/croissant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemfour{
    background-image: url("../img/homebread.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemfive{
    background-image: url("../img/sandwich.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemsix{
    background-image: url("../img/toast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textcontainers {
    display: flex;
    background-color:#DDB892;
    width: 100%;
    justify-content: space-around;
}

.texta {
    background-color: #DDB892;
    height: 50px;
    width: 50%;
    text-align: center;
    margin: 1%;
    text-align: center;
}

/*page four*/

.grid-column-layoutthree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
}

.pgfourtwo{
    background-color: #DDB892;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    background-image: url("../img/bizhi.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h4{
    font-size: 25px;
}

p{
    font-size:22px ;
}

.qrcode{
    height: 200px;
}

/*pagefive*/
.boxa {
    background-color: #ddb892;
  }

.pgfivetwo{
    background-color: #DDB892;
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
}

.boxa section {
    padding: 2rem 1rem;
  }
  
  .boxa section .text .img {
    height: 15rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .boxa section .text .img img {
    width: 100%;
    display: block;
  }
  
  .boxa section .text p {
    text-indent: 1rem;
    line-height: 2rem;
  }
  
  .boxa section .form {
    background: #ede0d4;
    padding: 1.8rem 1.5rem 1rem;
    margin: 1rem 0;
    max-height: 18rem;
    overflow: auto;
    box-sizing: border-box;
  }
  
  .boxa section .form .button {
    display: block;
    border: none;
    padding: 0.5rem 2rem;
    background: #9c6644;
    margin: 2rem auto 0;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .boxa section .form .item {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  .boxa section .form .item span {
    white-space: nowrap;
  }
  
  .boxa section .form .item:last-child {
    margin-bottom: 0;
  }
  
  .boxa section .form .item input {
    width: 98%;
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    text-indent: 0.2rem;
  }
  
  
  
  @media screen and (min-width: 680px) {
    .lg-show {
      display: block !important;
    }
    .lg-hide {
      display: none;
    }
    html {
      font-size: 25px;
    }
    .boxa {
      margin: 0 auto;
    }
    .txt {
      padding: 0 1rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
      text-indent: 1rem;
    }
    section {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 2rem 1rem 0.5rem !important;
      align-items: center;
    }
    section .text {
      width: 40%;
      flex-shrink: 0;
      text-indent: 1rem;
    }
    section .form {
      width: 58%;
      flex-shrink: 0;
      margin-top: 0 !important;
      border-radius: 0.5rem;
    }
    section .form .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
    section .form .item {
      width: 48%;
      flex-direction: row !important;
    }
  }
  
